@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgrey;
    font-family: 'Dosis', sans-serif;
}

.title-app{
    background-image: url("../../public/images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
    color: white;
    font-size: 60px;
}
